Source: pbundler
Maintainer: Christian Hofstaedtler <christian@hofstaedtler.name>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7.4.3), python-pip
Standards-Version: 3.9.3
Homepage: https://github.com/zeha/pbundler

Package: python-pbundler
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pip, python-virtualenv, python-setuptools (>= 0.6.24), python-pkg-resources
Description: Bundler for Python
 Simplifies virtualenv and pip usage.
 .
 Mostly useful for developers of applications, based or not based on
 Python application frameworks.
